body{
    background-color: white;
    margin: 0px;
}

#p1{
    color: white;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    top: -40px;
}

p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    text-indent: 1em;
    padding-left: 10em;
    padding-right: 10em;
}

li{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    text-indent: 1em;
    padding-left: 10em;
    padding-right: 10em;
}

button{
    background-color:#e092d4;
    color:#ffffff;
	border-radius:28px;
	cursor:pointer;
	font-size:17px;
	padding: 16px 31px;
    border: none;
    margin: 10px 10px;
}

button:hover{
    background-color:#7a276c;
}

button{
    float: right;
}

#button-principal{
    float: left;
}

.head{
    background-color: rgb(88, 21, 71) !important;
}

h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

main{
    background-color: rgb(172, 74, 147);
    padding-bottom: 10px;
    margin: 0 !important;
}

footer{
    margin-top: 10px;
    padding-left: 5px;
}

