body{
    background-color: white;
    color: white;
    margin: 0px;
}

button{
    background-color:#e092d4;
    color:#ffffff;
	border-radius:28px;
	cursor:pointer;
	font-size:17px;
	padding: 16px 31px;
    border: none;
    margin: 10px 10px;
}

button:hover{
    background-color:#7a276c;
}

.btn{   
    float: right;
}


.header{
    background-color: white;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 2em !important; 
}

h2, h3{
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    text-indent: 1em;
}

h4{
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    text-indent: 1em;
    padding-top: 50px;  
}

#linha{
    background-color: black;
    width: 10px;
}

p{
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    text-indent: 1em;
    padding-left: 20em;
    padding-right: 20em;
    padding-top: 10px;
}

section{    
    background-color: rgb(172, 74, 147);
    padding-left: 200px;
    padding-bottom: 80px;
}

img{
    width: 300px;
}

main{
    background-color: rgb(172, 74, 147);
    padding-left: 200px;
    padding-bottom: 20px;
}

li{
    font-size: 20px;
}

#p-main, #p-main2, #p-main3, #p-main4, #p-main5{
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    text-indent: 1em;
    padding-left: 1em;
    padding-right: 20em;
    padding-top: 10px;
}

footer{
    color: black;
    margin-top: 10px;
    padding-left: 10px;
}
