body{
    background-color: white;
    margin: 0px;
}

button{
    background-color:#e092d4;
    color:#ffffff;
	border-radius:28px;
	cursor:pointer;
	font-size:17px;
	padding: 16px 31px;
    border: none;
    margin: 10px 10px;
}

button:hover{
    background-color:#7a276c;
}

button{
    float: right;
}

#button-principal{
    float: left;
}
form{
    background-color: rgb(172, 74, 147);
    width: 1366px;
    padding-top: 100px;
}

form{
    margin-top: 130px;
    float: left;
}

footer{
    padding-top: 100px; 
}
