body{
    background-color: white;
    color: white;
    margin: 0px;
}

button{
    background-color:#e092d4;
    color:#ffffff;
	border-radius:28px;
	cursor:pointer;
	font-size:17px;
	padding: 16px 31px;
    border: none;
    margin: 10px 10px;
}

button:hover{
    background-color:#7a276c;
}

.btn{   
    float: right;
}

section{
    background-color: #e092d4;
    padding-bottom: 500px;
}

td, th, tr{
   color: black; 
}

footer{
    color: black;
}